{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6"> Welcome to the End-to-End Face Recognition Web App </h3>
        <br>
            <p>
                The project comprises two key modules:
            </p>
            <img src="/static/images/content/modules.svg" class="image-fluid" height="300" alt="">
        <br>

        <h4>1. Training Face Recognition Model</h4>
        <p>Training face recognition model contains 4 steps. Those are
        </p> 
        <ol>
            <li>Data Gathering</li>
            <li>Data Preprocessing</li>
            <li>Feature Engineering</li>
            <li>Machine Learning Model</li>
            <li>Create ML Pipeline</li>
        </ol>
        <img class="image-fluid" height="300" src="/static/images/content/training_flow.svg" alt="">

        <h4>2. Web Application</h4>
        <ol>
            <li>Develop Web App with
                <ul>
                    <li>Flask - Web Server Gateway Interphase (Backend)</li>
                    <li>HTML - Layout (Frontend)</li>
                    <li>Bootstrap - Styling (Frontend)</li>
                </ul>
            </li>
            <li>Integrate Machine Learning model</li>
            <li>Deploy Web App on a Cloud Service</li>
        </ol>
        <img src="/static/images/content/deployment.svg" height="300" class="image-fluid" alt="">
</div>


{% endblock %}